<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      My Movie Database
    </title>
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

    <script type="text/html" id="myMovieDatabase">
      <div class="coverTmpl">
        <a href="#"><%= cover %></a>
      </div>
      <div class="titleTmpl">
        <a href="#"><%= title %></a>
      </div>
      <div class="releaseTmpl">
        <a href="#"><%= release %></a>
      </div>
      <div class="plotTmpl">
        <a href="#"><%= plot %></a>
      </div>

    </script>

  </head>
  <body>
    <header>

    </header>
    <section class="filmContent">
      <div class="col-md-6">

      </div>
      <div class="col-md-4">
        <form class="filmCard" action="index.html" method="post">
          <input type="cover" name="cover" placeholder="cover">
          <input type="title" name="title" placeholder="title">
          <input type="release" name="release" placeholder="release">
          <input type="plot" name="plot" placeholder="plot">
        
          <button type="button" class="btn btn-default">Submit</button>
          <!-- <button type="button" class="btn btn-default">Delete</button> -->
        </form>

      </div>
    </section>
    <footer>

    </footer>
      <script src="bundle.js" charset="utf-8"></script>
  </body>
</html>
